In [1]:
import pandas as pd
from gaapi4py import GAClient
from clickhouse_driver import Client

In [2]:
client = Client(host='host', database='stats')
c = GAClient(json_keyfile="Python-Sheets-to-excel-95087b870614.json")

In [3]:
dealers_domain=['aaamotors-skoda.ru', 
                'agat-skoda.ru', 
                'agat-viktoria.ru', 
                'ai-sk.ru', 
                'alt-park.ru', 
                'alva-skoda.ru', 
                'arena-motors.ru', 
                'asmotoslavia.ru', 
                'aspec-lider.ru', 
                'atlant-motors.ru', 
                'autocenter-slavia.ru', 
                'autocity-sk.ru', 
                'autoevrazia.ru', 
                'autoskd.ru', 
                'autovn.ru', 
                'avto-bravo.ru', 
                'barsavto-ufa.ru', 
                'blik-auto.ru', 
                'bogemia-nn.ru', 
                'bogemia-nsk.ru', 
                'bogemia-skd.ru', 
                'bogemia-smr.ru', 
                'bogemia-vrn.ru', 
                'bogemia-yar.ru', 
                'carsar.su', 
                'che-dom.ru', 
                'chehia-avto.ru', 
                'cze-auto.ru', 
                'dinaplus.ru', 
                'eskadra-auto.ru', 
                'eurasia-skoda.ru', 
                'europa-auto-nt.ru', 
                'europa-avto.ru', 
                'griffin-auto.ru', 
                'interkar.ru', 
                'km-auto.ru', 
                'krona-auto.ru', 
                'kveta-auto.ru', 
                'l-ring.ru', 
                'legion-motors.ru', 
                'lmotors-skoda.ru', 
                'locman-skoda.ru', 
                'millenium-avto.ru', 
                'mlada-auto.ru', 
                'moravia-motors.ru', 
                'msmotors.ru', 
                'novocar-skoda.ru', 
                'optimavto.ru', 
                'otto-car.ru', 
                'praga-motors.ru', 
                'prime-motors.ru', 
                'primemotors.ru', 
                'radaavto.ru', 
                'radar-holding.ru', 
                'ringsever.ru', 
                'rolf-skoda.ru', 
                'rosso-sk.ru', 
                'sevavto.ru', 
                'sigma-skoda.ru', 
                'skoda-adt.ru', 
                'skoda-agat.ru', 
                'skoda-ant22.ru', 
                'skoda-ap.ru', 
                'skoda-autopraga.ru', 
                'skoda-autoug.ru', 
                'skoda-avtoexpress.ru', 
                'skoda-avtoritet.ru', 
                'skoda-avtoruss.ru', 
                'skoda-elvis.ru', 
                'skoda-forward.ru', 
                'skoda-gradavto.ru', 
                'skoda-granadacenter.ru', 
                'skoda-kd.ru', 
                'skoda-keyauto-krd.ru', 
                'skoda-keyauto-omsk.ru', 
                'skoda-keyauto-sochi.ru', 
                'skoda-koleso.ru', 
                'skoda-kors.ru', 
                'skoda-kuntsevo.ru', 
                'skoda-motoravto.ru', 
                'skoda-orehovo.ru', 
                'skoda-podolsk.ru', 
                'skoda-s-auto.ru', 
                'skoda-sumotori.ru', 
                'skoda-tts.ru', 
                'skoda-veshki.ru', 
                'skoda-vitebskiy.ru', 
                'skoda-vostokmotors.ru', 
                'skoda-vozrojdenie.ru', 
                'skoda-wagner.ru', 
                'skoda.fenix-auto.ru', 
                'skoda.medved-abakan.ru', 
                'skoda.medved-vostok.ru', 
                'skoda.mtm-avto.ru', 
                'skoda.planeta-avto.ru', 
                'skoda.primjera.ru', 
                'skoda.saranskmotors.ru', 
                'skoda.volga-rast.ru', 
                'skoda.yug-avto.ru', 
                'strela-avto.ru', 
                't-motors-skoda.ru', 
                'unicum-skoda.ru', 
                'ventus.ru', 
                'vmsurgut-skoda.ru', 
                'yaromiravto.ru', 
                'zlata-nn.ru']

In [4]:
dealers_projectid =[2361375904,
                      3807208465,
                      3724143076,
                      3097579817,
                      3510005158,
                      3829786858,
                      3792719796,
                      3603030256,
                      2128314136,
                      2220964146,
                      2280834590,
                      1992765086,
                      2130578252,
                      2291270906,
                      2672160980,
                      900152238,
                      2311678021,
                      8406928,
                      4273912878,
                      390745051,
                      574007872,
                      2931308418,
                      151300223,
                      2911853329,
                      1005746851,
                      3430694989,
                      2455234908,
                      337387534,
                      4156859700,
                      3416224563,
                      2118024510,
                      1525103614,
                      2307661005,
                      3680751446,
                      1018550522,
                      4093934287,
                      2001049304,
                      234577757,
                      875376062,
                      3329900114,
                      1969809756,
                      4275916657,
                      3106457535,
                      2333611392,
                      1982068572,
                      1102601918,
                      4151733757,
                      3015359012,
                      3622025591,
                      3503946527,
                      1855174320,
                      4198935744,
                      1128003211,
                      2539952736,
                      1055067767,
                      109508597,
                      3985921936,
                      1846522292,
                      2602686691,
                      3703769797,
                      2321278125,
                      3582830682,
                      1598382554,
                      3098304262,
                      2440818826,
                      4111018474,
                      544201343,
                      1570087924,
                      373602757,
                      299204769,
                      2145842965,
                      4035576437,
                      4129058672,
                      2302980353,
                      2341277505,
                      3194386529,
                      340269215,
                      12249988,
                      3906777856,
                      3285521615,
                      148162698,
                      2029416093,
                      3443504324,
                      1905139013,
                      2959840688,
                      2416148093,
                      1095520164,
                      1257562239,
                      2391390576,
                      3286520680,
                      3914783348,
                      357632735,
                      1597128514,
                      2085332023,
                      1506885907,
                      3251565972,
                      444531427,
                      762711100,
                      4246304556]

In [5]:
skoda_projectid = 598135432

In [6]:
forms = ['AVN_Model_SpecialRequestForm',
        'AVN_Model_BookingCar',
        'AVN_Model_OnlineBooking']

In [12]:
# лиды на AVN без группировки в array
# ? timestamp  as ts,

avn_leads_req = f"""
SELECT domainWithoutWWW(sess_refhost) as domain,  
            toISOWeek(date) as week,
            
            uniqIf((uid,timestamp), (data_category in ({forms}) and positionCaseInsensitive(data_action, 'success')>0
            or data_category='AVN_Model_ShowPhone')) as total_leads,
            
            uniqIf(uid, data_category in ({forms}) and positionCaseInsensitive(data_action, 'success')>0 
            or data_category='AVN_Model_ShowPhone') as unique_leads,
            
            toDateTime(sess_start) as sess_start,
            toStartOfWeek(date) as date,
            if(uaparser_is_pc==1, 'PC','Mobile') as device,
            data_category,
            sess_type,
            
            uid
            
FROM gaevents 
        
WHERE domainWithoutWWW(page_url)== 'cars.skoda-avto.ru'
            AND extractURLParameter(page_url,'dealerid')!=''
            AND projectId = 598135432
            AND date >= '2021-09-01'
            AND data_category in ({forms}) OR data_category='AVN_Model_ShowPhone'
            
    GROUP BY week, date, domain, sess_type, data_category, device, uid, sess_start
"""

In [13]:
avn_leads = client.query_dataframe(avn_leads_req)

In [52]:
avn_leads.head()

,domain,week,total_leads,unique_leads,sess_start,date,device,data_category,uid,flag
0,ai-sk.ru,4,2,1,2027-03-18 08:56:00,2021-01-31,PC,AVN_Model_ShowPhone,6744516718548221952,True
1,skoda-avto.ru,9,3,1,1982-07-10 20:00:24,2021-03-07,PC,AVN_Model_ShowPhone,6770704303951708160,True
2,skoda-avto.ru,3,1,1,2010-11-22 20:34:22,2021-01-24,PC,AVN_Model_ShowPhone,6686564529872044032,True
3,skoda-avto.ru,30,1,1,1982-04-18 04:40:42,2021-08-01,Mobile,AVN_Model_ShowPhone,6829084223165431808,True
4,skoda.medved-vostok.ru,10,1,1,1997-07-19 02:11:39,2021-03-14,PC,AVN_Model_ShowPhone,6777059839089573888,True

In [51]:
avn_leads.drop(columns='sess_type', inplace=True)

In [16]:
# True=AVN
avn_leads['flag'] = True

In [39]:
# переходы на AVN с делиров
# data_category = 'TopBar' and data_action = 'link_click' - кликнул на AVN
# !!! проверить у всех ли так 
# toDateTime(timestamp) as ts клика

from_dealer_req = f"""
SELECT 
    toISOWeek(date) as week,
    toStartOfWeek(date) as date,
    toDateTime(timestamp) as ts,
    sess_type as sess_type_dealer,
    uid, 
    data_category, 
    data_action,
    domainWithoutWWW(page_url) as domain

FROM stats.gaevents

WHERE domainWithoutWWW(page_url) IN ({dealers_domain})
    AND projectId IN ({dealers_projectid})
    AND date >= '2021-10-01'
    AND data_category = 'TopBar' and data_action = 'link_click'
    
GROUP BY week, date, sess_type_dealer, uid, data_category, data_action, ts, domain
ORDER BY week, date
"""

In [40]:
from_dealer = client.query_dataframe(from_dealer_req)

In [49]:
from_dealer.head()

,week,date,ts,sess_type_dealer,uid,domain,flag
0,39,2021-10-03,2007-02-20 20:49:29,organic,6788764539660795904,skoda.saranskmotors.ru,False
1,39,2021-10-03,2013-04-20 03:31:40,organic,6733410891938660352,zlata-nn.ru,False
2,39,2021-10-03,2014-07-11 17:57:30,organic,6846620883499352064,skoda.medved-vostok.ru,False
3,39,2021-10-03,2010-05-27 20:38:04,organic,6744305279560581120,atlant-motors.ru,False
4,39,2021-10-03,2017-11-13 21:57:09,campaign,6851807022636072960,carsar.su,False

In [48]:
from_dealer.drop(columns=['data_category', 'data_action'], inplace=True)

In [42]:
# не avn 
from_dealer['flag'] = False

In [43]:
len(avn_leads)+len(from_dealer)

676333

In [53]:
# объединяю их
# просто stack 

df = avn_leads.append(from_dealer)

In [1]:
avn_leads['ts'] = avn_leads['sess_start']

NameError: name 'avn_leads' is not defined

,domain,week,total_leads,unique_leads,sess_start,date,device,data_category,uid,flag,ts,sess_type_dealer
0,ai-sk.ru,4,2.0,1.0,2027-03-18 08:56:00,2021-01-31,PC,AVN_Model_ShowPhone,6744516718548221952,True,NaT,NaN
1,skoda-avto.ru,9,3.0,1.0,1982-07-10 20:00:24,2021-03-07,PC,AVN_Model_ShowPhone,6770704303951708160,True,NaT,NaN
2,skoda-avto.ru,3,1.0,1.0,2010-11-22 20:34:22,2021-01-24,PC,AVN_Model_ShowPhone,6686564529872044032,True,NaT,NaN
3,skoda-avto.ru,30,1.0,1.0,1982-04-18 04:40:42,2021-08-01,Mobile,AVN_Model_ShowPhone,6829084223165431808,True,NaT,NaN
4,skoda.medved-vostok.ru,10,1.0,1.0,1997-07-19 02:11:39,2021-03-14,PC,AVN_Model_ShowPhone,6777059839089573888,True,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
590858,bogemia-skd.ru,48,NaN,NaN,NaT,2021-12-05,NaN,NaN,6856198693293391872,False,2051-05-29 04:40:17,direct
590859,mlada-auto.ru,48,NaN,NaN,NaT,2021-12-05,NaN,NaN,6839468105622618112,False,2046-10-25 18:03:10,organic
590860,griffin-auto.ru,48,NaN,NaN,NaT,2021-12-05,NaN,NaN,6869985327793045504,False,2052-07-30 20:14:27,internal
590861,msmotors.ru,48,NaN,NaN,NaT,2021-12-05,NaN,NaN,6737741584051208192,False,2050-05-22 03:42:58,organic
590862,mlada-auto.ru,48,NaN,NaN,NaT,2021-12-05,NaN,NaN,6874043907630432256,False,2049-10-08 00:22:25,organic

In [36]:
# метчу начало сессий лидов с кликами на авн с дилеров

TypeError: 'bool' object is not callable